<main class="mayor-container">
  <section class="main-container">
    <div class="header">
      <div class="balls-container">

        <div class="step">
          <div class="ball" [class.ball-active]="step === 1"><p class="number" [class.number-active]="step === 1">1</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 1</p>
            <p class="step-info">YOUR INFO</p>
          </div>
        </div>

        <div class="step">
          <div class="ball" [class.ball-active]="step === 2"><p class="number" [class.number-active]="step === 2">2</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 2</p>
            <p class="step-info">SELECT PLAN</p>
          </div>
        </div>

        <div class="step">
          <div class="ball" [class.ball-active]="step === 3"><p class="number" [class.number-active]="step === 3">3</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 3</p>
            <p class="step-info">ADD-ONS</p>
          </div>
        </div>

        <div class="step">
          <div class="ball" [class.ball-active]="step === 4"><p class="number" [class.number-active]="step === 4">4</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 4</p>
            <p class="step-info">SUMMARY</p>
          </div>
        </div>
        
      </div>
    </div>
    <div class="form-container">

      <div class="step1" *ngIf="step === 1">
        <div class="form">
          <h1 class="step-title">Personal Info</h1>
          <p class="pstep-title">Please provide your name, email address, and phone number</p>

          <form class="myform" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="e.g. Stephen King">
              <div *ngIf="!form.get('name')?.valid && (form.get('name')?.dirty || form.get('name')?.touched)">
                <div *ngIf="form.get('name')?.errors" class="invalid">This field is required!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="e.g. stephenking@lorem.com">
              <div *ngIf="!form.get('email')?.valid && (form.get('email')?.dirty || form.get('email')?.touched)">
                <div *ngIf="form.get('email')?.errors" class="invalid">You must enter a valid email!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="number" class="form-control" formControlName="phone" id="phone" placeholder="e.g. +1 234 567 890">
              <div *ngIf="!form.get('phone')?.valid && (form.get('phone')?.dirty || form.get('phone')?.touched)">
                <div *ngIf="form.get('phone')?.errors" class="invalid">You must enter a valid phone number!</div>
              </div>
            </div>
          
            <div class="container-buttons firstcontainer">
              <button class="button-next" type="submit" [disabled]="!form.valid"><p class="pnext">Next Step</p></button>
            </div>

          </form>
        </div>
      </div>


      <div class="step2" *ngIf="step === 2">
        <div class="form">
          <h1 class="step-title">Select Your Plan</h1>
          <p class="pstep-title">You have the option of monthly or yearly billing</p>
          <div class="container-plans" (click)="Arcade()">
            <div class="plan" [class.plan-active]="arcade">
              <img src="../assets/images/icon-arcade.svg" alt="icon Arcade" class="icon">
              <div class="plan-description">
                <h5 class="hplan">Arcade</h5>
                <p class="pplan">$9/mo</p>
                <p class="pfree" *ngIf="!monthly">2 months free</p>
              </div>
            </div>
          </div>

          <div class="container-plans mt-2" (click)="Advanced()">
            <div class="plan" [class.plan-active]="advanced">
              <img src="../assets/images/icon-advanced.svg" alt="icon Advanced" class="icon">
              <div class="plan-description">
                <h5 class="hplan">Advanced</h5>
                <p class="pplan">$12/mo</p>
                <p class="pfree" *ngIf="!monthly">2 months free</p>
              </div>
            </div>
          </div>

          <div class="container-plans mt-2" (click)="Pro()">
            <div class="plan" [class.plan-active]="pro">
              <img src="../assets/images/icon-pro.svg" alt="icon Pro" class="icon">
              <div class="plan-description">
                <h5 class="hplan">Pro</h5>
                <p class="pplan">$15/mo</p>
                <p class="pfree" *ngIf="!monthly">2 months free</p>
              </div>
            </div>
          </div>

          <div class="container-plans mt-2">
            <div class="container-monthly-selector">
              <p class="pmonthly" [class.pmonthly-desactive]="!monthly">Monthly</p>
              <div class="switch-container">
                <div class="switch-ball" [class.switch-ball-desactive]="!monthly" (click)="ChangePlanMonthly()"></div>
                <div class="switch-ball" [class.switch-ball-desactive]="monthly" (click)="ChangePlanYearly()"></div>
              </div>
              <p class="pmonthly" [class.pmonthly-desactive]="monthly">Yearly</p>
            </div>
          </div>
          
         
        </div>
        <div class="container-buttons2">
          <p class="goback" (click)="goBackStep1()">Go Back</p>
          <div class="button-next2"><p class="pnext" (click)="goStep3()">Next Step</p></div>
        </div>
      </div>


      <div class="step2" *ngIf="step === 3">
        <div class="form">
          <h1 class="step-title">Pick Add-ons</h1>
          <p class="pstep-title">Add-ons help enhance your gaming experience</p>
           
        </div>
        <div class="container-buttons2">
          <p class="goback" (click)="goBackStep2()">Go Back</p>
          <div class="button-next2"><p class="pnext" (click)="goStep4()">Next Step</p></div>
        </div>
      </div>



      <div class="step2" *ngIf="step === 4">
        <div class="form">
          <h1 class="step-title">Finishing up</h1>
          <p class="pstep-title">Double-check everything looks OK before confirming</p>
                
        </div>
        <div class="container-buttons2">
          <p class="goback" (click)="goBackStep3()">Go Back</p>
          <div class="button-next2"><p class="pnext" (click)="ConfirmAll()">Confirm</p></div>
        </div>
      </div>
      
    </div>
  </section>
</main>