<main class="mayor-container">
  <section class="main-container">
    <div class="header">
      <div class="balls-container">

        <div class="step">
          <div class="ball ball-active"><p class="number number-active">1</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 1</p>
            <p class="step-info">YOUR INFO</p>
          </div>
        </div>

        <div class="step">
          <div class="ball"><p class="number">2</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 2</p>
            <p class="step-info">SELECT PLAN</p>
          </div>
        </div>

        <div class="step">
          <div class="ball"><p class="number">3</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 3</p>
            <p class="step-info">ADD-ONS</p>
          </div>
        </div>

        <div class="step">
          <div class="ball"><p class="number">4</p></div>
          <div class="step-info-container">
            <p class="num-step">STEP 4</p>
            <p class="step-info">SUMMARY</p>
          </div>
        </div>
        
      </div>
    </div>
    <div class="form-container">
      <div class="form"><h1>Personal Info</h1></div>
      <h1>Next Step</h1>
    </div>
  </section>
</main>